body, html
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.logo
{
    font-family: 'Shrikhand',cursive ;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
.localisation
{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 20px;
}
.localisation_text
{
    font-weight: 700;
}
.icon
{
    margin-right: 20px;
}
.recherche
{
    text-align: center;
    background-color: #f6f6f6;
    padding: 20px;
}
h1
{
    margin: 0;
}
.btn
{
    border-radius: 20px;
    border:0;
    color:#fff;
}